* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  padding: 5px;
  background-color: rgb(17, 124, 143);
}

.responsive {
  width: 100%;
  height: auto;
}

/*
header h1 {
    font-size: 40px; 
} */

footer, nav {
  display: flex;
  background-color: #333;
}

.flex-align-right {
  margin-left: auto;
}

@media screen and (max-width: 700px) {
  nav {
    flex-direction: column;
    padding: 10px 0px;
  }
  .flex-align-right {
    margin-left: 0;
  }
}

footer a,nav a {
  text-decoration: none;
  padding: 20px;
  text-align: center;
  float: left;
  color: white;
}

nav a:hover {
  color: slateblue;
  background-color: aliceblue;
}

main {
  background-color: rgb(149, 193, 252);
  text-align: center;
  min-height: 40vh;
  height: 100%;
  padding: 75px 50px;
}

section h2 span {
  background: linear-gradient(to right, #f5d, #f5d8);
  padding: 5px 55px;
  border-radius: 20px;
  color: skyblue;
}
section h2{
  padding-top: 20px;
}

section{
  background-color: rgb(241, 241, 241);
  border-radius: 20px;
}

/* section {
    min-height: 100vh;
}  */

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 45vh;
}

img {
  padding: 10px;
}

section h5 {
  margin: 40px;
}

.carousel-cell {
  width: 66%;
  margin-right: 10px;
  border-radius: 5px;
  margin-top: 40px;
}

.profile_img{
  border-radius: 50%;
}

.profile_name{
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 4px;
  word-spacing: 10px;
  text-transform: uppercase;
  margin: 20px 0px 30px 0px;
}

.sm-handle a{
  background-color: aquamarine;
  padding: 10px 15px;
  border-radius: 30px;
  margin: 5px 10px;
  text-decoration: none;
  font-size: 1.2em;
}

.sm-handle a:hover{
  background-color: aquamarine;
}

.sm-handle a i{
  margin: 5px;
}

.yt-handle{
  color: #FF0000;
}

.linkedin-handle{
color: #0e76a8;
}

.insta-handle{
color: #8a3ab9;
}

.about-us{
  margin: 50px;
}

.about-title{
  font-size: 1.45em;
  padding: 0px 10px;
  color: cadetblue;
}

.about-content{
  color: #333;
  font-weight: 900;
  padding-bottom: 10px 0px 20px 0px ;
}